XML/relacionFinal/Ejercicio 18 y 19/libreta_de_direcciones.dtd

<!ELEMENT libreta_de_direcciones (contacto*)>
<!ELEMENT contacto (nombre, apellidos, telefono, direccion)>
<!ELEMENT nombre (#PCDATA)* >
<!ELEMENT apellidos (#PCDATA)* >
<!ELEMENT telefono (#PCDATA)* >
<!ELEMENT direccion (#PCDATA)* >
<!ATTLIST direccion 
            calle CDATA #IMPLIED
            numero CDATA #IMPLIED
            datos CDATA #IMPLIED>